/* You can add global styles to this file, and also import other style files */
body{
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    height: 100vh;
    width: 100vw;
}

::-webkit-scrollbar {
    display: none;
}

@font-face {
    font-family: "barlow-light";
    src: url('/assets/fonts/Barlow-Light.ttf') format('truetype');
}